<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<%= csrf_meta_tag %>
<%= render 'layouts/stylesheets' %>
</head>

<body>
<%= render 'layouts/header' %>

	<div class="container">
	
	<% flash.each do |key,value| %>
	  <div class="alert alert-<%= key %>"><%= value %></div>
	<% end %>
	  
		<section>
			<%= yield %>
		</section>
		<%= render 'layouts/footer' %>
		
		
		<% if Rails.env.development? %>
		<div style="color: white">
		<%= debug(params) %>
		</div>
		<% end %>
		
		
		
		
		</div>
	</body>
</html>