<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<%= csrf_meta_tag %>
<%= render 'layouts/stylesheets' %>
</head>

<body>
	<div class="container">
		<%= render 'layouts/header' %>
		<section>
			<%= yield %>
		</section>
		<%= render 'layouts/footer' %>
		
		
		<% if Rails.env.development? %>
		<div style="color: white">
		<%= debug(params) %>
		</div>
		<% end %>
		
		
		
		
		</div>
	</body>
</html>